:root {
    --base-color: #F2F2F2;
    --black-theme: #171819;
    --footer-theme: 141A20;
    --base-text-color: #48555B;
    --accent-text-color: #00A4E5;
    --white-color: #ffffff;
}

body {
    background-color: var(--base-color);
    font-family: 'Open Sans', serif;
    color: var(--base-text-color);
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.section {
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-bottom: 58px;
}

.hero {
    background-image: url(../images/bg.jpg);
    height: 768px;
    text-align: center;
}

.hero-container {
    padding-top: 40px;
    padding-bottom: 70px;
}
.hero-title {
    color: var(--white-color);
    margin-bottom: 20px;
    font-size: 40px;
}

.hero-sentence, .hero-proposal {
    color: var(--white-color);
}

.hero-icon {
    margin-bottom: 315px;
}

.hero-sentence {
    margin-bottom: 220px;
}

.nav {
    padding: 24px 250px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E6E6E6;
}

.nav-list {
    display: flex;
}

.nav-list-item:hover {
    color: var(--accent-text-color);
}

.nav-list-item:not(:last-child) {
    margin-right: 40px;
}

.main-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 115px;
    width: 950px;
}

.story {
    margin-bottom: 115px;
}

.story-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.story-block {
    width: 405px;
    margin-right: 75px;
}

.story-title {
    font-weight: 700;
    margin-bottom: 92px;
    text-align: center;
    
    position: relative;
}

.story-title::after, .capabilities-title::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 50px;
    background-color: var(--accent-text-color);
    
    position: absolute;
}

.story-title::after {
    top: 120%;
    right: 47%;
}

.story-history {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 30px;
}

.story-description {
    display: inline-block;
    font-size: 11px;
    line-height: 1.73;
}

.company-name {
    color: var(--accent-text-color);
}

.strategies-list {
    display: flex;
}

.strategies-item {
    color: var(--white-color);
    font-size: 30px;
    padding: 10px;
    font-weight: 700;

    width: 140px;
    height: 224px;
    background-size: cover;
}

.strategies-item:nth-child(1) {
    background-image: url(../images/planImage.jpg);
}

.strategies-item:nth-child(2) {
    background-image: url(../images/manageImg.jpg);
}

.strategies-item:nth-child(3) {
    background-image: url(../images/builgImg.jpg);
}

.strategies-item:not(:last-child) {
    margin-right: 20px;
}

.capabilities-wrapper {
    display: flex;
    margin-bottom: 80px;
}

.capabilities-title {
    display: inline-block;
    margin-right: 154px;
    font-size: 18px;
    text-transform: uppercase;
    min-width: 200px;
    position: relative;
}

.capabilities-title::after {
    left: 0;
    bottom: 0;
}

.capabilities-descriptions {
    font-size: 11px;
    line-height: 1.73;
    margin-right: 30px;
}

.button{
    padding: 11px 29px;
    text-align: center;
    height: 40px;
    min-width: 150px;
    color: var(--white-color);
    background-color: var(--accent-text-color);
    border-color: var(--accent-text-color);
    cursor: pointer;
    font-size: 13px;
}

.capabilities-list {
    display: flex;
    gap: 23px;
}

.capabilities-item {
    height: 330px;
    width: 295px;
    padding: 29px 22px;
    border: 1px solid #E6E6E6;
}

.capabilities-item-title {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 13px;
    text-transform: uppercase;
    width: 250px;
}

.capabilities-item-description {
    font-size: 13px;
    line-height: 1.77;
}

.capabilities-img {
    width: 65px;
    height: 75px;
    margin-bottom: 25px;
}

.calling {
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    border: 0;
    height: 500px;
    text-align: center;
    padding-top: 120px;
}

.calling-title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 35px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.signup {
    background-color: var(--black-theme);
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.signup-title {
    margin-right: 70px;
    font-size: 22px;
    line-height: 1.7;
    color: var(--white-color);
}

.form {
    display: flex;
}

.input {
    padding: 10px 16px;
    height: 40px;
    width: 250px;
    color: inherit;
}


